

.container2 {
    width: 100%;
    height: 100%;
    background-color: #F5F6FA;
}

.menu{
    width:233px;
    padding-top:32px;
}

.menuBtn{
    height: 40px;
    font-family: "PingFang SC";
    font-size: 14px;
    font-weight: 400;
    color: white;
    word-wrap: break-word;
}

.content{
    position: absolute;
    width: calc(100% - 233px);
}

.title1 {
    width: 185px;
    height: 59px;
    margin-top: 27px;
    margin-left: 39.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24;
    color: #1D2129;
    word-wrap: break-word;
}
