.main-frame {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    aspect-ratio: 989/427;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 #0000001A;
    transform-origin: center bottom;
    object-fit: contain;
}

@media screen and (aspect-ratio >= 3/2){
    .main-frame{
        height: 100%;
    }
}

@media screen and (aspect-ratio <=3/2){
    .main-frame{
        width: 95%;
    }
}
