.container1 {
    width: 100vw;
    height: 100vh;
}

.frame2{
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1009/536;
    width: auto;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 #0000001A;
    transform-origin: center bottom;
    object-fit: contain;
}



@media screen and (min-aspect-ratio: 3/2){
    .frame2{
        height: 100%;
    }
}

@media screen and (max-aspect-ratio: 3/2){
    .frame2{
       width: 95%;
    }
}

.register-panel{
    position:absolute;
    display:inline-flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    width: calc(540 / 1009 * 100%);
    height: calc(357 / 536 * 100%);
    padding: 27px 22px;
    overflow: hidden;
    background: white;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

.panelInside{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 240px;
}


.panel-1-1{
    translate: 0;
}

.panel-2-1{
    translate: 0;
    animation: toPanel2-1 0.5s;
}

.panel-1-2{
    translate: calc(-1 / 2 * 100%);
    animation: toPanel1-2 0.5s;
}

@keyframes toPanel2-1{
    from{
        translate: calc(-1 / 2 * 100%);
    }

    to{
        translate: 0;
    }
}

@keyframes toPanel1-2{
    from{
        translate: 0;
    }

    to{
        translate: calc(-1 / 2 * 100%);
    }
}

.btn-show{
    opacity: 1;
    animation: btn-show ;
}

.btn-fade{
    opacity: 0;
    animation: btn-show ;
}

@keyframes btn-show {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

@keyframes btn-show {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}